.title{
  font-size: 3rem;
  text-align: center;
}
.input{
  padding: .3rem;
  margin: .3rem;
}
.button{
  margin: auto;
}
.wrapper{
  padding: .5rem;
}

.social{
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.hr{
  text-align: center;
  padding-top: 2rem;
}
